<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee 
                             http://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
         
         <servlet>
            <servlet-name>maServlet</servlet-name>
            <servlet-class>com.apprendreJAVAEE.servlets.test</servlet-class>                                
         </servlet>
         
         <servlet-mapping>
            <servlet-name>maServlet</servlet-name>
            <url-pattern>/bonjour</url-pattern>
         </servlet-mapping>
         
         <servlet>
            <servlet-name>maServlet1</servlet-name>
            <servlet-class>com.apprendreJAVAEE.servlets.accueil</servlet-class>
            
            <multipart-config>
        		<location>E:\Téléchargements</location>          <!-- chemin où les fichiers temporaires seront stockés -->
        		<max-file-size>5242880</max-file-size>   <!-- 5 Mo -->
        		<max-request-size>20971520</max-request-size> <!-- 20 Mo -->
        		<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
    		</multipart-config>
                    
         </servlet>
         
         <servlet-mapping>
            <servlet-name>maServlet1</servlet-name>
            <url-pattern>/accueil</url-pattern>
         </servlet-mapping>
         
         
         <servlet>
            <servlet-name>maServlet2</servlet-name>
            <servlet-class>com.apprendreJAVAEE.servlets.session</servlet-class>                                
         </servlet>
         
         <servlet-mapping>
            <servlet-name>maServlet2</servlet-name>
            <url-pattern>/session</url-pattern>
         </servlet-mapping>
         
         

		 <jsp-config>
    		<jsp-property-group>
        		<url-pattern>*.jsp</url-pattern>
        		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    		</jsp-property-group>
		 </jsp-config>
		 
</web-app>		


